@import url('https://fonts.googleapis.com/css?family=Saira+Semi+Condensed');

body {
  font-family: 'Saira Semi Condensed', sans-serif;
  color: #ccccff;

  /* gradient background */
  background: #283048;
    /*background: #1f1c2c; /* fallback for old browsers */*/
    /*background: -webkit-linear-gradient(to top, #1f1c2c, #928dab); /* Chrome 10-25, Safari 5.1-6 */*/
    /*background: linear-gradient(to top, #1f1c2c, #928dab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */*/
}


section {
    clear: both;
}

a {
  text-decoration: none;
  color: #ccccff;
}

a:hover {
  /*color: #ccccff; */
}

a, p {
  font-size: 20px;
}

h1, h2, h3, h4 {
  text-shadow: 1px 1px 1px rgba(150, 150, 108, 1);
}

h2.main-header {
  font-size: 30px;
  margin: 0 auto;
}

h1.main-header {
  font-size: 60px;
  margin: 0 auto;
}

header, footer {
  width: 100%;
  text-align: center;
  /*color: #000033;*/
}

nav {

}

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

nav ul li {
  display: inline-block;
  box-sizing: border-box;
  border-radius: 5px;
  margin: 5px;
  min-width: 20px;

  margin: 10px 5px;
  border: 1px solid #ccccff;
  padding: 10px;
  font-size: 20px;
}

nav ul li a {
  /*text-decoration: none;*/
  /*color: #000033;*/
  color: inherit;
}

nav ul li:hover {
  /*background-color: #b3b3ff;*/
  background-color: #ccccff;
  color: #283048;
}

.project-box {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  border: 1px solid #ccccff;
  font-size: 20px;

  width: 30%;
  /*float:left;*/
  min-width: 300px;
  /*min-height: 200px;*/
  /*height: 300px;*/
  padding: 20px;
  margin: 10px;
  text-align: center;

  /* box-shadow */
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  /* avoid for performance issues */
  transition: all 0.3s ease-in-out;

}


.project-box:hover {
  /*background-color: #ccccff;
  color: #283048;
  */
  cursor: pointer;
  transform: scale(1.1, 1.1);
}

.project-description {
}

.project-box img{
  /*color: inherit;*/    /* cant do image, maybe replace image version or slide up */
}

.img {
  /*color: white;*/
}

.banner-img {
  width: 100px;
}

.section-img {
  height: 75px;
}


section {
  line-height: 24px;
  font-size: 15px;
  padding: 10px;
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

h2.heading {
  padding: 20px;
  width: 80%;
  margin: 0 auto;
}

footer {
  width: 100%;
  clear: both;
  padding-top: 50px;
  /*margin-top: 30px;*/
}


.tech ul {
  list-style-type: none;
}

.tech ul li{
  /*display: inline-block;*/
}


/* iPhone */
@media only screen and (max-width: 360px) {
  .project-box {
    /*margin: 0;*/
    width: 250px;
    min-width: 250px;
    /*width: 200px;*/
  }

  section {
    /*margin: 0;*/
  }
}
