@import url('https://fonts.googleapis.com/css?family=Saira+Semi+Condensed');

body {
  font-family: 'Saira Semi Condensed', sans-serif;
  color: #ccccff;

  /* gradient background */
  background: #283048;
    /*background: #1f1c2c; /* fallback for old browsers */*/
    /*background: -webkit-linear-gradient(to top, #1f1c2c, #928dab); /* Chrome 10-25, Safari 5.1-6 */*/
    /*background: linear-gradient(to top, #1f1c2c, #928dab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */*/
}


section {
    clear: both;
}

a {
  text-decoration: none;
  color: #4d4dff;
}

a:hover {
  /*color: #ccccff; */
}

a, p {
  font-size: 20px;
}

h1, h2, h3, h4 {
  text-shadow: 1px 1px 1px rgba(150, 150, 108, 1);
}

h2 {
  font-size: 30px;
}

h1.main-header {
  font-size: 60px;
  margin-bottom: 0;
}

header, footer {
  width: 100%;
  text-align: center;
  /*color: #000033;*/
}

nav {

}

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;

  text-align: center;
}

nav ul li, .project-box {
  display: inline-block;
  box-sizing: border-box;
  /*width: 100%;*/

  /*width: 2%;*/
  /*background-color: #4d4dff;*/
  /*height: 30px;*/
  margin: 0 auto;
  /*border: 1px solid #000033;*/
  border: 1px solid #ccccff;
  padding: 10px;
  font-size: 20px;
}

nav ul li a {
  /*text-decoration: none;*/
  /*color: #000033;*/
  color: inherit;
}

nav ul li:hover {
  /*background-color: #b3b3ff;*/
  background-color: #ccccff;
  color: #283048;
}

.project-box {
  width: 30%;
  float:left;
  min-width: 200px;
  height: 300px;
  text-align: center;
  position: relative;
  padding: 0;
  margin: 10px 20px;

}

.project-box a {
  position: relative;
  overflow: hidden;
  display: block;
}


.project-box img {
  /* vertically center */
  width: 150px;
  height: 175px;
  position: absolute;
  top: 50%;
  left: 50%;
  /*height: 30%;*/
  margin: -80px 0 0 -85px;
}

/******** animation ******/

.hover-content {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(34,34,34,0.95);
  color: white;
  padding: 20px;
  animation-name: fadeFromTop;
  -webkit-animation-name: fadeFromtop;
  animation-duration: 800ms;
  -webkit-animation-duration: 800ms;
  animation-timing-function: ease-out;
  -webkit-animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

.project-box a:hover .hover-content {
  animation-name: fadeFromBottom;
        -webkit-animation-name: fadeFromBottom;
        animation-duration: 800ms;
        -webkit-animation-duration: 800ms;
        animation-timing-function: ease-in;
        -webkit-animation-timing-function: ease-in;
        animation-fill-mode: forwards;
        -webkit-animation-fill-mode: forwards;
}


@keyframes fadeFromBottom  {
        0%{
            opacity:0;
            -webkit-transform: translateY(100%);
            -moz-transform: translateY(100%);
            -ms-transform: translateY(100%);
            -o-transform: translateY(100%);
            transform: translateY(100%);
        }
        100%{
            opacity: 1;
            -webkit-transform: translateY(0px);
            -moz-transform: translateY(0px);
            -ms-transform: translateY(0px);
            -o-transform: translateY(0px);
            transform: translateY(0px);
            display: block;
        }
    }
@keyframes fadeFromtop  {
    0%{
        opacity:1;
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
        transform: translateY(0px);
    }
    100%{
        opacity: 0;
        -webkit-transform: translateY(100%);
        -moz-transform: translateY(100%);
        -ms-transform: translateY(400%);
        -o-transform: translateY(100%);
        transform: translateY(100%);
    }
}

/******** end of animation ******/


.img {
  /*color: white;*/
}

.banner-img {
  width: 100px;
}

.section-img {
  width: 75px;
}


section {
  line-height: 24px;
  font-size: 15px;
  padding: 10px;
  width: 80%;
  margin: 0 auto;
}


.tech ul {
  list-style-type: none;
}

.tech ul li{
  /*display: inline-block;*/
}




@media (max-width: 960px) {


}
