@import url('https://fonts.googleapis.com/css?family=Saira+Semi+Condensed');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

body {
    font-family: 'Ubuntu', sans-serif;
    color: #ccccff;
    font-size: 5em;
    background: #300a24;
}


input {
    background: transparent;
    border: none;
    color: #ccccff;
    font-size: 1em;
}

input:focus{
    outline: none;
}

/* .cursor {
	position: relative;
} */
/* .cursor	i {
	position: absolute;
	width: 1px;
	height: 80%;
	background-color: gray;
	left: 5px;
	top: 10%;
	animation-name: blink;
	animation-duration: 800ms;
	animation-iteration-count: infinite;
	opacity: 1;
}

.cursor input:focus + i {
	display: none;
}

@keyframes blink {
	from { opacity: 1; }
	to { opacity: 0; }
} */