@import url('https://fonts.googleapis.com/css?family=Saira+Semi+Condensed');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');


/* Blue titanium theme */
/* #ccccff, #283048 */

body {
  /*font-family: 'Saira Semi Condensed', sans-serif;*/
  font-family: 'Ubuntu', sans-serif;
  color: #ccccff;

  /* gradient background */
  background: #300a24;
    /*background: #1f1c2c; /* fallback for old browsers */*/
    /*background: -webkit-linear-gradient(to top, #1f1c2c, #928dab); /* Chrome 10-25, Safari 5.1-6 */*/
    /*background: linear-gradient(to top, #1f1c2c, #928dab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */*/
}


h4.project-title {
  /*margin-top: 5px;*/
  /*margin-bottom: 5px;*/
}

span.in-progress {
  font-size: 10px;
  font-style: italic;
  margin:0;

}


section {
    clear: both;
}

a {
  text-decoration: none;
  color: #ccccff;
}

a:hover {
  /*color: #ccccff; */
}

/*a, p {
  font-size: 20px;
}*/

h1 {
  text-shadow: 2px 2px 2px rgba(150, 150, 108, 1);
}

h2, h3, h4,h5,h6 {
  text-shadow: 1px 1px 1px rgba(150, 150, 108, 1);
}

h5 {
  font-size: 15px;
  margin: 5px auto;
}

h6 {
  font-size: 12px;
  margin: 5px auto;
}

h2.main-header {
  font-size: 20px;
  margin: 0 auto;
}

h1.main-header {
  font-size: 60px;
  margin: 0 auto;
}

header, footer {
  width: 100%;
  text-align: center;
}

nav {

}

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

nav ul li {
  display: inline-block;
  box-sizing: border-box;
  border-radius: 5px;
  margin: 5px;
  min-width: 20px;

  margin: 10px 5px;
  border: 1px solid #ccccff;
  padding: 10px;
  font-size: 20px;
}

nav ul li a {
  /*text-decoration: none;*/
  /*color: #000033;*/
  color: inherit;
}

nav ul li:hover {
  /*background-color: #b3b3ff;*/
  background-color: #ccccff;
  color: #283048;
}

.project-box {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  border: 1px solid #ccccff;
  font-size: 20px;
  /*min-height: 300px;*/

  width: 30%;
  /*float:left;*/
  min-width: 300px;
  padding: 20px;
  margin: 15px;
  text-align: center;

  /* box-shadow */
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  /* avoid for performance issues */
  transition: all 0.3s ease-in-out;

}


.project-box:hover {
  /*background-color: #ccccff;
  color: #283048;
  */
  cursor: pointer;
  transform: scale(1.1, 1.1);
}

.project-description {

}

.project-box img{
  /*color: inherit;*/    /* cant do image, maybe replace image version or slide up */
}

.img {
  /*color: white;*/
}

.banner-img {
  width: 100px;
}

.section-img {
  height: 75px;
}


section {
  line-height: 24px;
  font-size: 15px;
  padding: 10px;
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

h2.heading {
  padding: 20px;
  width: 80%;
  margin: 0 auto;
}

footer {
  width: 100%;
  clear: both;
}


.tech ul {
  list-style-type: none;
}

.tech ul li{
  /*display: inline-block;*/
}


/* typign animation*/
@keyframes typing { from { width: 0; } }
@keyframes blink-caret { 50% { border-color: transparent; } }

/* typing animation*/
h2.main-header{
  text-align: center;
  /*color: lime;*/
  color: #ccccff;
  font-family: "Courier";
  /*font-family: "Courier";
  font-size: 20px;
  white-space: nowrap;
  overflow: hidden;
  width: 30em;
  animation: type 4s steps(60, end);*/

  /*font: bold 200% Consolas, Monaco, monospace;*/
  border-right: .1em solid;
  width: 16.5em; /* fallback */
  width: 22ch; /* # of chars */
  margin: 10px calc(50% - 12ch);
  white-space: nowrap;
  overflow: hidden;
  animation: typing 3s steps(22, end), /* # of steps = # of chars */
  blink-caret .5s step-end infinite alternate;
}
/*****/


.tech-stack {
  margin-bottom: 10px;
  /*margin-top: 0;*/
}


.tech-stack span{
  font-size: 13px;
  background-color: #ccccff;
  color: #283048;

  display: inline-block;
  /*box-sizing: border-box;*/
  border-radius: 2px;
  /*min-width: 20px;*/
  line-height: 15px;
  margin: 1px;
  border: 1px solid #ccccff;
  padding: 2px;
}



/* iPhone */
@media only screen and (max-width: 360px) {
  .project-box {
    /*margin: 0;*/
    display: block;
    width: 250px;
    min-width: 250px;
    /*width: 200px;*/
  }

  section {
    /*margin: 0;*/
  }
}
